/* Global Styles */
body {
  background-color: #ccd0cf;
  margin: 0;
  padding: 0;
  font-family: "Advent Pro", sans-serif;
}

/* Navbar */
nav {
  font-family: "Advent Pro";
  font-weight: 400;
}

.navbar-brand,
.nav-link {
  font-size: 2.5vw;
}

/* Container & Layout */
.container {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Titles */
h1 {
  font-family: "Jost";
  text-align: center;
  color: #143754;
  font-size: 5vw;
}

.abouttitle {
  padding: 20px;
}

b {
  color: #caa917;
}

.subtitle {
  color: #143754;
  font-family: "Jost";
  font-size: 3vw;
  padding: 15px;
}

.textcontent {
  color: #627685;
  font-weight: 300;
  font-stretch: semi-condensed;
  font-size: 2.5vw;
}

/* Subheadings */
h5 {
  text-align: center;
  font-weight: 300;
  color: #627685;
}

/* Travel Section */
.travel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

#caption {
  color: #627685;
  vertical-align: middle;
  font-weight: 300;
  font-stretch: semi-condensed;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  background-color: #143754;
  color: #ccd0cf;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  width: 100%;
  margin-top: 20px; /* Adjust as needed */
  position: relative;
  /* Removed position: relative */
}

footer a {
  color: #b0b5b9;
  text-decoration: none;
  font-size: 2.5vw;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #caa917;
}

footer ul {
  padding: 30px;
  list-style: none;
  font-size: 2.5vw;
}

.footright {
  text-align: right;
  color: #b0b5b9;
}

.footright .name {
  color: #caa917;
}

/* Responsive Styles */
@media (min-width: 800px) {
  #caption {
    font-size: 2.5vw;
  }
}

/* portfolio */
.gallery {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  column-gap: 10px;
}

.gallery > div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100vw;
}

.card-body {
  background-color: #496f91;
  border-radius: 5px;
}

.card-title {
  color: #caa917;
  font-weight: 500;
  margin-top: 2px;
  padding: 3px;
}

.card-text {
  color: #dbd8c8;
  font-weight: 300;
}

.card-body > a {
  color: #b0b5b9;
}

/* Sidenav */
.sidenav {
  position: fixed;
}

.sidenav a {
  text-align: left;
  margin-left: 5px;
  color: #234967;
}

.colleft a {
  font-size: small;
  font-stretch: semi-condensed;
}

.row {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

body .titlebar b {
  color: #caa917;
}

.colright > h4 {
  text-align: left;
}
